$wrapper_max_width: 1600px;
$wrapper_min_width: 1280px;
$menu_color_white: white;
$menu_color_gray: gray;
$menu_color_whitesmoke: whitesmoke;
$border_style_default: solid 1px gray;
$border_style_menu: 1px solid #d8d8d8;
$border_style_inner: solid 1px lightgray;
$border_style_candidate: 1px solid whitesmoke;
$border_style_btn: solid 1px #0f9ada;
$border_style_hover: solid 1px orange;
$border_style_buy: solid 1px cornflowerblue;