$wrapper_max_width: 1600px;
$wrapper_min_width: 1280px;
$menu_color_white: white;
$menu_color_gray: gray;
$menu_color_whitesmoke: whitesmoke;
$border_style_default: solid 1px gray;
$border_style_menu: 1px solid #d8d8d8;
$border_style_inner: solid 1px lightgray;