.footer {
  min-width: 1280px;
  width: 100%;
  background-color: $menu_color_whitesmoke;
  .footer-wrap {
    height: 128px;
    max-width: $wrapper_max_width;
    min-width: $wrapper_min_width;
    margin: 0 auto;
    padding: 0 240px 0;
    &__top {
      @include up-down-center;
      height: 50%;
      border-bottom: $border_style_inner;
      text-align: center;
      .languege-list {
        @include up-down-center;
        width: 320px;
        margin: 0 auto;